<header class="navbar navbar-expand-md bg-body shadow-none d-print-none" data-bs-theme="dark">
    <div class="container-xl px-3 py-2">
        <!-- BEGIN NAVBAR LOGO -->
        {{ include('partial/_logo.html.twig') }}
    </div>
</header>
